<%= @game.waiting_player.name %> attacked <%= @game.current_player.name %>!
<br>
<%= @game.current_player.name %>'s HP: <%=@game.current_player.hit_points %>
<br>
<form action="/play" method="get">
  <input type="submit" name="" value="Continue">
</form>
